.button {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
    -fx-background-color: transparent;
    -fx-background-radius: 0!important;
}

#button_operate1 {
    -fx-graphic: url("assets/1m.png");
}

#button_operate1:hover {
    -fx-graphic: url("assets/1m_hover.png");
}

#button_operate2 {
    -fx-graphic: url("assets/1h.png");
}

#button_operate2:hover {
    -fx-graphic: url("assets/1h_hover.png");
}

#button_operate3 {
    -fx-graphic: url("assets/24h.png");
}

#button_operate3:hover {
    -fx-graphic: url("assets/24h_hover.png");
}

#button_operate4 {
    -fx-graphic: url("assets/...m.png");
}

#button_operate4:hover {
    -fx-graphic: url("assets/...m_hover.png");
}

#button_operate5 {
    -fx-graphic: url('assets/stop.png');
}

#button_operate5:hover {
    -fx-graphic: url('assets/stop_hover.png');
}

#button_operate6 {
    -fx-graphic: url('assets/reset.png');
}

#button_operate6:hover {
    -fx-graphic: url("assets/reset_hover.png");
}

#title{
    -fx-font-size: 30 ;
}
.default-color0.chart-pie { -fx-pie-color: #c7c9cc; }
.default-color1.chart-pie { -fx-pie-color: #f22809; }
.default-color2.chart-pie { -fx-pie-color: #0d09ef; }
.default-color3.chart-pie { -fx-pie-color: #efc909; }