.button {
    -fx-min-width: 150px;
    -fx-min-height: 40px;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #d9dce0;
    -fx-border: none;
    -fx-background-radius: 0!important;
}

#button_operate1, #button_operate2, #button_operate3,
#button_operate4 {
    -fx-background-color: lightgreen;
}

#button_operate1:hover, #button_operate2:hover, #button_operate3:hover,
#button_operate4:hover {
    -fx-background-color: limegreen;
}

#button_operate5 {
    -fx-background-color: transparent;
    -fx-graphic: url('http://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/48/Stop-red-icon.png');
}

#button_operate5:hover {
    -fx-background-color: gray;
    -fx-graphic: url('http://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/48/Stop-red-icon.png');
}

#button_operate6 {
    -fx-background-color: transparent;
    -fx-graphic: url('http://icons.iconarchive.com/icons/capital18/ethereal/48/Misc-Rewind-icon.png');
}

#button_operate6:hover {
    -fx-background-color: gray;
    -fx-graphic: url('http://icons.iconarchive.com/icons/capital18/ethereal/48/Misc-Rewind-icon.png');
}

#title{
    -fx-font-size: 30 ;
}
.default-color0.chart-pie { -fx-pie-color: #c7c9cc; }
.default-color1.chart-pie { -fx-pie-color: #f22809; }
.default-color2.chart-pie { -fx-pie-color: #0d09ef; }
.default-color3.chart-pie { -fx-pie-color: #efc909; }